<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
</head>
<body>
    <div id="main-container">
        <div id="roadmap-title">Маршрутный лист</div>
        <div id="contestant-name">%CONTESTANT_NAME%</div>

        <table class="col-md-12 rounds-container">
%ROUNDS%
        </table>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>