<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/site.teamdescription.css" rel="stylesheet">
</head>
<body>
    <div id="main-container">
        <div class="round-title">Раунд %ROUND_NUMBER%</div>
        <div class="team-name">%TEAM_NAME%</div>
        <div class="team-location">Аудитория %LOCATION_NAME% Компьютер №%COMPUTER_NUMBER%</div>

        <table class="col-md-12 rounds-container">
%CONTESTANTS%
        </table>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>